/* Estilo geral da aplicação */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estilo para o cabeçalho */
.App-header {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  box-sizing: border-box;
  z-index: 10;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}
