@font-face {
  font-family: 'Minecraft';
  src: url('./assets/Minecraft.ttf') format('truetype');
}

.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: rgb(15, 15, 15);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between; 
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.logo-icon {
  width: 40px; 
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-family: 'Minecraft', sans-serif;
  font-size: 24px;
  color: #ffffff; 
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}
